body {
  background-color: #C2B2B4;
  font-family: "Open Sans", sans-serif;
}

header {
  background-color: #3E2A35;
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}

h1 {
  color: #fff;
  font-weight: 800;
  font-size: 3rem;
  margin: 0.67em 1.5rem;
}

.header-title {
  display: flex;
  letter-spacing: .25rem;
}

#foto-finder-logo {
  height: 2rem;
  margin-bottom: .25rem;
  margin-right: .25rem;
  margin-top: 1.25rem;
}
.search {
  border-radius: 5px;
  border: solid 2px #C2B2B4;
  height: 35px;
  width: 90%;
}

#search-field {
  width: 30%;
  align-self: center;
}

.search:focus {
  outline-color: #C2B2B4;
}

#search-btn {
  background-color: #C2B2B4;
  color: #fff;
  cursor: pointer;
  width: 36px;
  margin-left: -42px;
}

.photo-input {
  background-color: #3E2A35;
  display: grid;
  grid-template-columns: 25% 50% 25%;
}

form,
.photo-input-form,
.buttons {
  grid-column-start: 2;
}

.choose-file-btn {
 height: 0.1px;
 opacity: 0;
 overflow: hidden;
 position: absolute;
 width: 0.1px;
 z-index: -1;
}

.choose-file-btn + label {
  background-color: #5B4447;
  color: #fff;
  height: 2.5rem;
  margin-top: 2rem;
  border: none;
  grid-column-start: 2;
  text-align: center;
}

label {
  padding-top: 1.25rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

#photo-title,
#photo-caption {
  color: #C2B2B4;
  font-weight: 400;
  margin-bottom: 4px;
  font-size: 1.25rem;
}

#title-input,
#caption-input {
  resize: none;
  width: 99.7%;
  padding: 0;
}

.file-btn {
  margin-top: 40px;
}

.btn {
  background-color: #5B4447;
  color: #fff;
  height: 2.5rem;
  margin-top: 2rem;
  border: none;
  width: 42%;
  margin-bottom: 2rem;
}

.photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
 }

.photo-box {
  border: solid #938284 .1em;
  box-sizing: border-box;
  margin: 15px;
  min-width: 15%;
  width: 20%;
  background-color: #fff;
  font-weight: 400;
  height: max-content;
  height: -moz-available;
  min-width: 15em;
}

#photo {
  width: 100%;
  height: 15em;
}

.btn-section{
  display: flex;
  justify-content: space-between;
  background-color: #5B4447;
  padding-top: 1em;
}

.card-buttons {
  height: 2em;
  padding-bottom: .5em;
}

#add-photo {
  font-size: 4em;
  color: #3E2A35;
  font-weight: 800;
  text-align: center;
  grid-column-start: 2;
}

#show-more {
  background-color: #5B4447;
  color: #fff;
  height: 2.5rem;
  margin-top: 2rem;
  border: none;
  text-align: center;
  grid-column-start: 2;
  margin-bottom: 2em;
}

.photo-box-title,
.photo-box-caption {
  margin: 1em;
  text-align: justify;
}

.msg {
  display: grid;
  grid-template-columns: 25% 50% 25%;
}

.add-photo,
.show-more-btn,
.hidden-photo {
  display: none;
}

.show-more-btn {
  padding-bottom: 5em;
}

@media only screen and (max-width: 876px) {

  header {
    flex-wrap: wrap;
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 10% 80% 10%;
  }

  .header-title {
    margin: auto;
    grid-row-start: 1;
    grid-column-start: 2;
  }

  h1 {
    margin: 1em 0;
    font-size: 2.5em;
  }

  #search-field {
    grid-row-start: 2;
    margin: 0 auto;
    grid-column-start: 2;
  }

  .photo-input,
  .msg {
    grid-template-columns: 10% 80% 10%;
  }

}

@media only screen and (max-width: 445px) {

  header{
    flex-wrap: wrap;
  }
  .header-title {
    height: 3em;
  }

  .buttons {
    flex-direction: column;
  }

  .btn {
    width: 100%;
  }

  #view-favorite {
    margin-bottom: 0;
  }
}